@model DoctorViewModel

@{
	ViewData["Title"] = "Register Doctor";
}

<h1>Register Doctor</h1>

<form method="post">
  <partial name="_DoctorsView" />
</form>

@section Scripts {
    @Html.RenderPartialAsync("_ValidationScriptsPartial");
}