@model DoctorViewModel

@{
	ViewData["Title"] = "Atualizar Cadastro";
}

<h1>Update Doctor</h1>

<form method="post">
  <input type="hidden" asp-for="Id"/>
  <partial name="_DoctorsView" />
</form>

@section Scripts {
    @Html.RenderPartialAsync("_ValidationScriptsPartial");
}